/* Fuente del proyecto: IBM Plex Mono */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');

/* Reseteo margenes y padding (elimino borde blanco del browser) */

*
{
  margin: 0;
  padding: 0;
}

body
{
  width: 100vm;
  height: 100vh;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
}

p{  font-family: 'IBM Plex Mono', monospace;}

.tituloCentrado
{
  text-align:center;
  padding:8px;
  text-align: center;
}

.descripcion
{
  margin-left: 10vh;
}

/* grid principal */

.gridPrincipal
{
  display:grid;
  grid-template-columns: 33%, auto ;
  grid-template-rows: 20%, 20%,60%;
  grid-template-areas:
  "col-izquierda" "form-fibo" "col-derecha"
  "cantidad" "resultado" "resultado";
  grid-row-gap: 2%;
}

.colIzq
{
  grid-area: col-izquierda;
  float:left;
  width:33%;
}

.colDer
{
  grid-area: col-derecha;
  width:33%;
  float:right;
}

.formFibo
{
  border-radius: 5px;
  margin-left: 10vh;
  width: 40%;
  height: 20%;

}

#formulario
{
  grid-area: form-fibo;
  padding: 2vh;
  width:70%;
  color: white;
  background-color: black;
}

.cajitaTexto 
{
  border-radius: 5px;
  height: 25px;
}

.formatoCajaCantidad
{
  grid-area: cantidad;
  color: white;
  background-color: black;
}

.formatoCajaResultado
{
  grid-area: resultado;
  color: white;
  background-color: black;
}
